@if (Request.IsAuthenticated)
{

}
else
{
    <a href="https://instagram.com/oauth/authorize/?client_id=3e0b7f80f656469fa4c042902dd71409&redirect_uri=http://localhost:51963/Instagram&response_type=code&scope=basic+likes+comments+relationships">Sign in With Instagram</a>
}